@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-sans text-4xl font-bold lg:text-6xl 2xl:text-7xl;
  }
  h2 {
    @apply font-sans text-3xl font-bold lg:text-5xl 2xl:text-6xl;
  }
  h3 {
    @apply font-sans text-2xl font-bold lg:text-4xl 2xl:text-5xl;
  }
  h4 {
    @apply font-sans text-lg font-medium lg:text-xl;
  }
  h5 {
    @apply font-sans text-base font-medium lg:text-xl;
  }
  p {
    @apply font-sans text-sm leading-6 lg:text-base lg:leading-8 xl:text-lg;
  }
  span {
    @apply font-sans text-sm lg:text-base;
  }
  a {
    @apply font-sans text-sm leading-5 lg:text-base;
  }
  button {
    @apply font-sans text-base md:text-lg lg:text-xl
  }
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.pagination-control {
  text-align: center;
}

.pagination-control .current,
.pagination-control li a {
  border-radius: 8px;
}

.pagination-control li:not(.pagination-previous):not(.pagination-next) a:hover {
  background-color: #2199e8;
  opacity: 0.75;
}

.pagination-control span,
.pagination-control .pagination-previous a,
.pagination-control .pagination-next a {
  color: #FFFFFF;
}

.pagination-control .pagination-previous a:hover,
.pagination-control .pagination-next a:hover {
  background: transparent;
}



